/* generelt generelt generelt generelt generelt */

* {
box-sizing: border-box;
margin: 0;
padding: 0;
--sort: rgb(0, 0, 0);
--hvid: rgb(255, 255, 255);
}

body {
max-width: 100%;
margin: 0 auto;
background-color: black;
line-height: 1.4;
}

img,
video,
iframe {
max-width: 100%;
max-height: 100%;
object-fit: cover;
align-self: stretch;
}

button {
font-family: druk_medium;
text-transform: uppercase;
font-size: 1rem;
background-color: transparent;
cursor: pointer;
color: var(--hvid);
padding: 0.5rem 2rem;
text-align: center;
border: 1px solid var(--hvid);
max-width: 250px;
}

button:hover {
box-shadow: inset 0px 0px 25px -7px rgba(255, 255, 255, 0.7);
}

/* typografi typografi typografi typografi typografi */

@font-face {
font-family: druk_cond;
src: url(../fonts/DrukCond-SuperItalic-Trial.otf);
}

@font-face {
font-family: druk_medium;
src: url(../fonts/DrukWide-Medium-Trial.otf);
}

h1 {
font-family: druk_cond;
text-transform: uppercase;
font-size: 10rem;
line-height: 0.8;
color: var(--hvid);
}

h2 {
font-family: druk_medium;
text-transform: uppercase;
font-size: 1.5rem;
line-height: 0.8;
color: var(--hvid);
}

p, a {
font-family: 'Roboto', sans-serif;
color: var(--hvid);
}

/* scroll */

section {
height: 100vh;
width: 100vw;
/* scroll-snap-align: start;*/
}

.container {
/* scroll-snap-type: y mandatory;
overflow: auto; 
height: 100vh;*/
}

/* hero hero hero hero hero hero hero */

.kolonne1 {
background-size: cover;
display: grid;
grid-template-columns: 1fr 10fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
background-color: rgba(0, 0, 0, 0.6);
z-index: 2;
}

video {
z-index: -1;
grid-area: 1 / 1 / -1 / -1;
width: 100%;
height: 100%;
object-fit: cover;
}

.logo_hero {
padding-bottom: 1rem;
}

.hero_content {
grid-row-start: 3;
grid-column-start: 2;
}

/* logo logo logo logo logo logo logo logo logo */

/* imessage imessage imessage imessage imessage */

.imessage {
display: flex;
flex-direction: column;
font-size: 1rem;
margin: 0 auto 1rem;
max-width: 600px;
padding: 0.5rem 1.5rem;
}

.imessage p {
border-radius: 1.15rem;
line-height: 1.25;
max-width: 75%;
padding: 0.5rem .875rem;
position: relative;
word-wrap: break-word;
}

.imessage p::before,
.imessage p::after {
bottom: -0.1rem;
content: "";
height: 1rem;
position: absolute;
}

p.from-me {
align-self: flex-end;
background-color: #248bf5;
color: #fff; 
}

p[class^="from-"] {
margin: 0.3rem 0;
width: fit-content;
}

p.from-me ~ p.from-me {
margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:not(:last-child) {
margin: 0.25rem 0 0;
}

p.from-me ~ p.from-me:last-child {
margin-bottom: 0.3rem;
}

p.from-them {
align-items: flex-start;
background-color: #e5e5ea;
color: #000;
}

p.from-them::after {
border-bottom-right-radius: 0.5rem;
left: 20px;
transform: translate(-30px, -2px);
width: 10px;
}

/* mobilgrid mobilgrid mobilgrid mobilgrid mobilgrid */

.kolonne2,
.kolonne3,
.kolonne4 {
display: grid;
grid-template-rows: 1fr 2fr 1fr;
padding-inline: 1rem;
}

.kolonne2, .imessage,
.kolonne3, .imessage,
.kolonne4, .imessage {
grid-row-start: 2;
}

/* kolonne2 kolonne2 kolonne2 kolonne2 kolonne2 kolonne2 */

.kolonne2 button,
.kolonne3 button {
margin-top: 1.5rem;
}

.kolonne2_img {
display: none;
background-image: url(../images/billede_i_logo.webp);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
grid-column: 1 / 4;
grid-row: 1 / 5;
}

/* kolonne3 kolonne3 kolonne3 kolonne3 kolonne3 kolonne3 */

.kolonne3 {
background-image:  url(../images/image00001.webp);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

/* kolonne4 kolonne4 kolonne4 kolonne4 kolonne4 */

.kolonne4 button {
margin-top: 1.5rem;
}

.kolonne4_img {
display: none;
}

.kolonne4_img {
display: none;
background-image: url(../images/Hanin_02_highres.webp);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
grid-column: 1 / 4;
grid-row: 1 / 5;
}

/* footer footer footer footer footer footer footer */

footer {
position: fixed;
bottom: 0;
right: 0;
width: 100%;
height: 40px;
}

a:hover {
color: #248bf5;
}

ul, li {
text-decoration: none;
list-style-type: none;
display: inline-block;
display: flex;
justify-content: space-around;
}

/* responsiv responsiv responsiv responsiv responsiv */

@media all and (min-width: 800px) {
.kolonne1 {
grid-template-columns: 1fr 4fr 1fr;
}

footer {
height: 40px;
width: 350px;
}
}

@media all and (min-width: 1000px) {
.kolonne2, 
.kolonne4 {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
padding-top: 0;
}

.kolonne2_img {
display: block;
grid-column: 1 / 4;
}

.kolonne2 .imessage {
grid-column: 4 / 6;
grid-row: 2;
padding: 3rem;
}

.kolonne3 {
display: grid;
grid-template-rows: 1fr 1fr 1fr;
grid-template-columns: 1fr 2fr 1fr;
}

.kolonne3 .imessage  {
grid-row: 2 / 3;
grid-column: 2 / 3;
}

.kolonne4_img {
display: block;
z-index: -1;
grid-column: 3 / 6;
}

.kolonne4 .imessage {
grid-column: 1 / 3;
grid-row: 2;
padding: 3rem;
}
}

@media all and (min-width: 1300px) {
.kolonne1 {
grid-template-columns: 1fr 2fr 1fr;
}
}