/* generelt generelt generelt generelt generelt */

* {
box-sizing: border-box;
margin: 0;
padding: 0;
--sort: rgb(0, 0, 0);
--hvid: rgb(255, 255, 255);
}

body {
max-width: 100%;
margin: 0 auto;
background-color: black;
line-height: 1.4;
}

img,
video,
iframe {
max-width: 100%;
height: auto;
display: block;
}

/* typografi typografi typografi typografi typografi */

@font-face {
font-family: druk_cond;
src: url(../fonts/DrukCond-SuperItalic-Trial.otf);
}

@font-face {
font-family: druk_medium;
src: url(../fonts/DrukWide-Medium-Trial.otf);
}

h1 {
font-family: druk_cond;
text-transform: uppercase;
font-size: 10rem;
line-height: 0.8;
color: var(--hvid);
}

h2 {
font-family: druk_medium;
text-transform: uppercase;
font-size: 1.5rem;
line-height: 0.8;
color: var(--hvid);
}

p, a {
font-family: 'Roboto', sans-serif;
font-size: 0.9rem;
color: var(--hvid);
}

/* mainindhold mainindhold mainindhold mainindhold */

article {
height: 100vh;
width: 100vw;
scroll-snap-align: start;
}

.container {
scroll-snap-type: y mandatory;
overflow-y: scroll;
height: 100vh;
}

.kolonne1 {
background-size: cover;
display: grid;
background-image: url(../images/3C4B0178_lighter.jpg);
color: #EFEFEF;
margin: 0 auto;
background-size: cover;
background-color: rgba(0, 0, 0, 0.6);
}

.kolonne2 {
}

.kolonne3 {
}